In [2]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.15.4'

In [4]:
pd.__version__

'0.23.4'

In [6]:
wget raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

SyntaxError: invalid syntax (<ipython-input-6-0541a0c3226a>, line 1)

In [9]:
dataset = pd.read_csv("cardata.csv")

In [10]:
dataset.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [11]:
dataset.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [12]:
dataset.groupby('Make').mean()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,
Acura,2010.063492,244.797619,5.333333,3.619048,28.111111,19.940476,204.0,3.488759e+04
Alfa Romeo,2015.400000,237.000000,4.000000,2.000000,34.000000,24.000000,113.0,6.160000e+04
Aston Martin,2013.021505,484.322581,10.623656,2.150538,18.892473,12.526882,259.0,1.979104e+05
Audi,2012.231707,277.695122,5.557927,3.469512,28.823171,19.585366,3105.0,5.345211e+04
BMW,2014.347305,326.907186,5.958084,3.161677,29.245509,20.739521,3916.0,6.154676e+04
Bentley,2011.702703,533.851351,9.729730,2.675676,18.905405,11.554054,520.0,2.471693e+05
Bugatti,2008.333333,1001.000000,16.000000,2.000000,14.000000,8.000000,820.0,1.757224e+06
Buick,2010.005102,219.244898,5.316327,3.836735,26.948980,18.704082,155.0,2.820661e+04
Cadillac,2013.151134,332.309824,6.433249,3.602015,25.236776,17.355164,1624.0,5.623132e+04
Chevrolet,2010.087266,246.972247,5.908118,3.381122,25.815672,19.021371,1385.0,2.835039e+04
Chrysler,2008.459893,229.139037,5.593583,3.625668,26.368984,17.759358,1013.0,2.672296e+04
Dodge,2005.440895,244.415335,6.258786,3.210863,22.345048,16.065495,1851.0,2.239006e+04
FIAT,2016.032258,143.559322,3.806452,2.903226,37.338710,30.645161,819.0,2.267024e+04
Ferrari,2007.521739,511.956522,9.797101,2.000000,15.724638,10.565217,2774.0,2.382188e+05
Ford,2009.741203,243.097926,5.914869,3.383655,24.006810,17.960272,5657.0,2.739927e+04
GMC,2009.126214,259.844660,6.454369,3.495146,21.403883,15.813592,549.0,3.049330e+04
Genesis,2017.000000,347.333333,6.666667,4.000000,25.333333,16.333333,21.0,4.661667e+04
HUMMER,2009.352941,261.235294,6.058824,4.000000,17.294118,13.529412,130.0,3.646441e+04
Honda,2013.418708,195.749441,4.659243,3.536748,32.574610,25.443207,2202.0,2.667434e+04
Hyundai,2012.696370,201.917492,4.666667,3.498350,30.392739,22.343234,1439.0,2.459704e+04
Infiniti,2010.960606,310.066667,6.151515,3.545455,24.778788,17.827273,190.0,4.239421e+04
Kia,2013.614719,206.827434,4.588745,3.939394,30.653680,23.848485,1720.0,2.531017e+04
Lamborghini,2012.730769,614.076923,10.884615,2.000000,18.019231,11.519231,1158.0,3.315673e+05
Land Rover,2012.671329,322.097902,6.125874,3.790210,22.125874,16.230769,258.0,6.782322e+04
Lexus,2011.623762,277.415842,6.247525,3.712871,25.876238,20.311881,454.0,4.754907e+04
Lincoln,2011.573171,284.910256,6.073171,3.853659,24.487805,17.890244,61.0,4.283983e+04
Lotus,2010.827586,275.965517,5.241379,2.000000,26.551724,18.758621,613.0,6.918828e+04
Maserati,2012.775862,420.793103,7.344828,2.793103,20.293103,13.327586,238.0,1.142077e+05
Maybach,2010.937500,590.500000,12.000000,4.000000,16.000000,10.000000,67.0,5.462219e+05
Mazda,2008.364066,171.992908,4.615385,3.460993,27.851064,21.245863,586.0,2.003938e+04
McLaren,2014.200000,610.400000,8.000000,2.000000,22.200000,15.600000,416.0,2.398050e+05
Mercedes-Benz,2010.515581,350.181818,6.711048,3.351275,24.830028,18.181303,617.0,7.147623e+04
Mitsubishi,2009.164319,173.429245,4.680952,3.596244,27.544601,21.910798,436.0,2.124054e+04
Nissan,2012.403226,239.921533,5.336918,3.433692,27.799283,21.874552,2009.0,2.858343e+04
Oldsmobile,1997.613333,177.466667,5.573333,3.573333,26.233333,17.606667,26.0,1.154254e+04
Plymouth,1995.463415,131.560976,4.390244,3.207317,27.963415,20.792683,535.0,3.122902e+03
Pontiac,2003.102151,190.295699,5.483871,3.193548,27.069892,18.682796,210.0,1.932155e+04
Porsche,2013.382353,392.794118,6.132353,2.647059,25.367647,17.470588,1715.0,1.016224e+05
Rolls-Royce,2012.516129,487.548387,11.870968,3.290323,19.129032,11.838710,86.0,3.511306e+05
Saab,2006.081081,220.522523,4.540541,3.477477,26.351351,17.765766,376.0,2.741350e+04
Scion,2013.416667,154.433333,4.000000,3.000000,32.300000,25.316667,105.0,1.993250e+04
Spyker,2009.000000,400.000000,8.000000,2.000000,18.000000,13.000000,2.0,2.133233e+05
Subaru,2011.246094,197.308594,4.367188,3.773438,28.683594,21.789062,640.0,2.482750e+04
Suzuki,2006.310541,160.287749,4.547009,3.823362,26.034188,19.914530,481.0,1.790721e+04
Tesla,2015.277778,NaN,0.000000,4.000000,98.944444,94.111111,1391.0,8.525556e+04
Toyota,2012.544236,236.147849,5.597315,3.592493,26.453083,21.554960,2031.0,2.903002e+04
Volkswagen,2012.812114,189.757726,4.365217,3.222497,32.128554,23.580964,873.0,2.810238e+04
Volvo,2008.060498,230.971530,4.722420,3.914591,27.202847,19.583630,870.0,2.854116e+04

In [28]:
df = dataset[dataset['Year']>= 2015]
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
32,FIAT,124 Spider,2017,premium unleaded (recommended),160.0,4.0,MANUAL,rear wheel drive,2.0,Performance,Compact,Convertible,35,26,819,27495
33,FIAT,124 Spider,2017,premium unleaded (recommended),160.0,4.0,MANUAL,rear wheel drive,2.0,Performance,Compact,Convertible,35,26,819,24995
34,FIAT,124 Spider,2017,premium unleaded (recommended),160.0,4.0,MANUAL,rear wheel drive,2.0,Performance,Compact,Convertible,35,26,819,28195
41,BMW,2 Series,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,35,23,3916,32850
42,BMW,2 Series,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,rear wheel drive,2.0,Luxury,Compact,Convertible,34,23,3916,38650

In [29]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [30]:
mean_hp_before = df['Engine HP'].mean()
print(round(mean_hp_before))

273

In [31]:
df2 = df.fillna(mean_hp_before)

In [32]:
mean_hp_after = df2['Engine HP'].mean()
print(round(mean_hp_after))

273

In [34]:
dfr = dataset[dataset['Make'] == 'Rolls-Royce']
dfr.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
2921,Rolls-Royce,Corniche,2001,premium unleaded (required),325.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury",Large,Convertible,15,10,86,359990
3505,Rolls-Royce,Dawn,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,High-Performance",Large,Convertible,19,12,86,335000
5275,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,286750
5276,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,319400
5277,Rolls-Royce,Ghost Series II,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,295850

In [36]:
dfru = dfr.drop(['Make','Model','Year','Engine Fuel Type','Transmission Type','Driven_Wheels','Number of Doors','Market Category','Vehicle Size','Vehicle Style','city mpg','Popularity','MSRP'], axis=1)

In [37]:
dfru.head()

      Engine HP  Engine Cylinders  highway MPG
2921      325.0               8.0           15
3505      563.0              12.0           19
5275      563.0              12.0           21
5276      563.0              12.0           21
5277      563.0              12.0           21

In [39]:
dfru1 = dfru.drop_duplicates()
dfru1.head(10)

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [40]:
x = np.array(dfru1)

In [41]:
x

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [42]:
x2 = x.transpose()
x2

array([[325., 563., 563., 563., 322., 453., 624.],
       [  8.,  12.,  12.,  12.,  12.,  12.,  12.],
       [ 15.,  19.,  21.,  20.,  15.,  19.,  21.]])

In [45]:
xtx = np.matmul(x2,x)

In [46]:
xtx

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [47]:
invx = np.linalg.inv(xtx)
invx

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [48]:
np.sum(invx)

0.032212320677486195

In [49]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [50]:
m1 = np.matmul(invx,x2)
m1

array([[-0.00486592,  0.00336507, -0.00049461,  0.00143523, -0.00139492,
        -0.0023309 ,  0.00266407],
       [-0.19020088,  0.09362543, -0.08379139,  0.00491702,  0.22997159,
        -0.00609915, -0.02848958],
       [ 0.25164625, -0.13888652,  0.0729151 , -0.03298571, -0.09739786,
         0.07339609, -0.04480526]])

In [52]:
w = np.matmul(m1,y)
w

array([ 0.19989598, 31.02612262, 31.65378877])